body {
  font-family: "Rockwell Extra Bold", sans-serif;
  background-color: #EDE7F6;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 390px;
  margin: auto;
  text-align: center;
}

.header {
  margin-top: 20px;
}

.logo {
  width: 227px;
  height: 232px;
  display: block;
  margin: auto;
}

.title {
  font-size: 36px;
  color: black;
  font-weight: 800;
}

.input-section, .result-section {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.label {
  font-size: 24px;
  color: #FFD058;
  background-color: #BCACDD;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.allele-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.allele {
  width: 70px;
  height: 43px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

.result-box {
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #F698DB;
  background-color: #F698DB;
  color: #FFD058;
  font-size: 24px;
  border-radius: 5px;
}

.calculate-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FFD058;
  color: #333;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
